@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

$white: #f1e8e8;
$black: #191919;

$boxShadow:
	0 3px 1px rgba(0, 0, 0, 0.1),
	0 4px 8px rgba(0, 0, 0, 0.13),
	0 0 0 1px rgba(0, 0, 0, 0.02);

$default-font: 'Raleway', sans-serif;

$mobile: 480px;
